.cv-divider {
  border: 0;
  margin: 0;
  background: var(--cv-comp-divider-color, var(--cv-sys-color-border));
}

.cv-divider[data-orientation='horizontal'] {
  inline-size: 100%;
  min-block-size: 1px;
  block-size: 1px;
}

.cv-divider[data-orientation='vertical'] {
  inline-size: 1px;
  min-inline-size: 1px;
  block-size: 100%;
  min-block-size: 1.5rem;
}

.cv-divider[data-inset='start'] {
  margin-inline-start: var(--cv-comp-divider-inset, 1rem);
}

.cv-divider[data-inset='end'] {
  margin-inline-end: var(--cv-comp-divider-inset, 1rem);
}

.cv-divider[data-inset='middle'] {
  margin-inline: var(--cv-comp-divider-inset, 1rem);
}
