[data-cv-elevation='0'] {
  box-shadow: none;
}

[data-cv-elevation='1'] {
  box-shadow: var(--cv-comp-elevation-level-1, var(--cv-sys-elevation-level-1));
}

[data-cv-elevation='2'] {
  box-shadow: var(--cv-comp-elevation-level-2, var(--cv-sys-elevation-level-2));
}

[data-cv-elevation='3'] {
  box-shadow: var(--cv-comp-elevation-level-3, var(--cv-sys-elevation-level-3));
}

[data-cv-elevation='4'] {
  box-shadow: var(--cv-comp-elevation-level-4, var(--cv-sys-elevation-level-4));
}

[data-cv-elevation='5'] {
  box-shadow: var(--cv-comp-elevation-level-5, var(--cv-sys-elevation-level-5));
}
