@property --cv-ripple-size {
  syntax: '<length>';
  inherits: false;
  initial-value: 48px;
}

@property --cv-ripple-x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --cv-ripple-y {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --cv-ripple-duration {
  syntax: '<time>';
  inherits: false;
  initial-value: 180ms;
}
